// Specific CSS for your home-page
.categories {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 120px;
}

@media (min-width: 100px) and (max-width: 575px) {
  .categories {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 120px;
  }
}

.categories:hover .card-category{
  filter:blur(3px);
  opacity:.5;
  transform: scale(.98);
  box-shadow:none;
  transition-duration: 0.5s;

}

.categories:hover .card-category:hover{
  transform:scale(1);
  filter:blur(0px);
  opacity:1;
  box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
  transition-duration: 0.5s;
}

.no-decoration:hover {
  text-decoration: none;
}

.category-title {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  margin: 20px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 30px;
}

.card-category:hover {
  text-decoration: none;
}

.card-category p:active {
  text-decoration: none;
}
