.wine-description {
  margin-bottom: 100px;
}

.description-box {
  margin: 10px 200px;
}

.box-info {
  width: 600px;
}

.name-title {
  font-weight: bold;
  font-size: 16px;
}

.information {
  width: 350px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 100px;
}
