
<div class="container form-margin-top">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :unit %>
    <%= f.association :ingredient, include_blank: false, include_hidden: false %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
