<!-- Whiskey Picture Banner -->
<div class="index-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @whiskey.photo.key %>');">
  <div class="container">
    <div class="index-banner-text"><%= @whiskey.name %> (<%= @whiskey.year %>)</div>
  </div>
</div>

<!-- Description -->
<div class="ingredient-header">
  <%= @whiskey.description %>
</div>
