.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
}

.banner-text {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 80px;
  font-weight: bold;
  font-family: 'Special Elite', cursive;
  text-align: center;
  margin-top: 195px;
}

@media (min-width: 100px) and (max-width: 575px) {
  .banner {
    background-size: cover;
    background-position: center 100%;
    padding: 150px 0;
    height: 100vh;
  }

  .banner-text {
    margin-top: 130px;
    font-size: 50px;
  }
}
