/* app/assets/stylesheets/components/_navbar.scss */
.navbar-lewagon {
  // [...]
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-white {
  background-color: white;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #4F4F4F;
  height: 70px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-brand {
  color: white;
}


.navbar-light .navbar-nav .nav-link {
  color: white;
  font-weight: bold;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: white;
  font-weight: bold;
}

.margin_space_for_navbar {
  margin-top: 70  px;
}
